*{
  font-family: Muli;
}

html{
  scroll-behavior: smooth;
  scroll-margin-top: 10px;
  scroll-margin-bottom: 10px;
}


#header{
  padding: 1rem;
  margin-left: 3rem;
}

.nav{
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
 
}
.navlink{
  color: white; 
  font-family: Muli;
}

.navlink:hover{
  text-decoration: none;
  background-color: rgb(78, 74, 74);
  color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.2s;
  
}

.imagetop{
justify-content: center;
flex-direction: column;
align-self: center;
margin-top: 20px;
}

.name{
  padding-top:40px;
  font-size: 18px;
  font-family: muli;
padding-left: 10px;
color: white;
font-weight: boldest;
}

.input{
  border-radius: 20px;
  border: transparent;
  width: 100px;
  padding-left: 20px;
  padding-top: 3px;
  color: rgba(128, 128, 128, 0.685);
  outline: none;

 
}

.but{
  border-radius: 20px;
  margin-left: 10px;
  background: #ffffff;
  border: transparent;
  color: orange;
  font-size: 15px;

}

.searchbar{
  width: 170px;
   background: white;
   border-radius: 20px;
  border: transparent;
  height: 30px;
}

.cards{
  margin-top: 220px;
  width: 450px;
  height: 200px;
  background-color: rgba(255, 115, 0, 0.336);
border: 1px 4px 7px orange;
justify-content: center;
text-align: center;
padding-top: 20px;

}

.star{
  color: white;
  font-size: 12px;
  
}

.taxt{
  font-size: 17px;
  font-weight: bold;
  color: white;
    margin-left: 10px;
  
}

.hike{
  font-family: Poppins;
  font-size: 80px;
  
  margin-top: -10px;
  font-weight: bolder;
  color: white;
  
}
.hik{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  margin-top: -30px;
  margin-left: 10px;
  font-weight: bolder;
  color: white;
  
}

.tat{
  font-size: 17px;
  font-weight: bold;
  color: white;
   justify-content: center;
   margin-left: -87px;
  
}

.plus{
  margin-left: 30px;
}

.shape{
  width: 100%;
  height: 200px;
 position: relative;

}

.cad{
  background-image: url(../app/constants/Image/yellow.png);
  width: 100%;
  height: 750px;
  margin-top: -25px;
  background-repeat: no-repeat;
  
}


.inner{
  padding-top: 90px;
  text-align: center;
  color: rgb(0, 0, 0);
  
}

.p{
  font-size: 20px;
}

.man{
  background-image: url(../app//constants/Image/person.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  margin-top: 350px;
  
}

.routes{
  background-image: url(../app//constants/Image/maps.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  margin-top: -95px;
}

.Cds{
  width: 100%;
  height: 500px;
  outline: orangered;
  border-style: solid;
  border: 20px 19px 50px 90px  orangered;
}

.footer{
  background: rgb(54, 53, 53);
  width: 100%;
  height: 633px;
  margin-top: -297px;
}

.bg{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../app/constants/Image/backg.png');
  background-repeat: no-repeat;
}
